/* fonnts link  */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gideon+Roman&family=Italianno&family=Lilita+One&family=Poppins:wght@500&family=Roboto+Slab:wght@700&display=swap');

/* -----------------------common style----------------------------  */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#E5E5E5 ;
    display: flex;
    justify-content: center;
}

/* ------------------top player section style ----------------------*/
section{
    background-color: #FFFFFF ;
    width: 870px;
    height: 679px;
    padding: 30px;
    border-radius: 7px;
    margin-top: 20px;
    
}
.top-players{
    
    margin-bottom: 21px;
}
.section-title{
    color: #562EFF ;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
  font-size: 18px;
  font-weight: normal;
  margin-left: 16px;

}
hr{
    border: 1px solid #D1D1D1;
}

/* ------------top blog section style ------------------*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
 .blog  .thamnel > img{
 width: 177px;
 height: 117px;


 }
 .blog-info{
     margin-left: 16px;
 }
 .blog-title{
     font-size: 20px ;
     font-weight: normal;
     margin: 6px 0px;
 }
 .blog-writter{
     color : #9F9F9F;
 }
 .blog-writter a {
     font-size: 16px;
     text-decoration: none;
     color: #562EFF;
 }

 /* -----------------course section styling--------------------- */

 .courses{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap: 24px;
 }
 .course{
     width: 253px;
     height: 270px;
 }
.course .course-cvr img{
    width: 177px;
    height: 117px;
}
.course-info{
 display: flex;
 align-items: center;
 justify-content: space-between;
 
}
.fa-star.ratting{
    color: #FFC014;
    width: 12.39px;
    height: 11.81px;
}
.fa-star.empty{
    color: #AEAEAE;
}

